$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

$color-middle-blue: #1890ff;

$color-icon: rgba(0,0,0,.25);
$color-icon-hover: #1890ff;

$color-green: darkseagreen;
$color-light-green: rgba(darkseagreen, 0.25);
$color-light-salad: #e7ffee;
